@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --header-height: 3.5rem;
    --tittle-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 70%);
    --text-color-light: hsl(0, 0%, 60%);
    --body-color: hsl(0, 0%, 0%);
    --container-color: hsl(0, 0%, 8%);
    
/* .5rem = 8px | 1 rem = 16px */

    --body-font: "poppins", sans-serif;
    --second-font: "montserrat", sans-serif;
    --biggest-font-size: 2.7rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
}

@media screen and(min-width:1152px){
:root 
    {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }  
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html {
    scroll-behavior: smooth;
}

body, button, input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

body {
    background-color: var(--body-color);
}

button, input {
    outline: none;
    border: none;
}

h1, h2, h3, h4 {
    color: var(--tittle-color);
    font-family: var(--second-font);
    font-weight: var(--semi-bold);
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1 rem;
}

.section__tittle {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.main {        /* For Animation Scroll */
    overflow: hidden;
}

/* Header and Navigation */

.header {
    position: fixed;
    background-color: transparent;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--tittle-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
}

.nav__toggle, .nav__close {
    display: flex;
    font-size: 1.25rem;
    color: var(--tittle-color);
    cursor: pointer;
}

/* Navigation for Mobile Devices */

@media screen and (max-width: 1023px){
    .nav__menu {
        position: fixed;
        top: 0;
        left: 0;
        background-color: hsl(0, 0, 0, .3);
        width: 100%;
        padding-block: 4rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);/*For Safari*/
        transition: top .4s;
    }
}

.nav__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link {
    color: var(--tittle-color);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}